@model IEnumerable<dancing_studio.DAL.Payment>

@{
    ViewBag.Title = "Облік оплат";
}

<h2>@ViewBag.Student.Name</h2>

<p>
    @Html.ActionLink("Внести оплату", "Create", new { id = ViewBag.Student.Id})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Value.Date.Day).@Html.DisplayFor(modelItem => item.Date.Value.Date.Month).@Html.DisplayFor(modelItem => item.Date.Value.Date.Year)
        </td>
        <td>
            <th>@Html.ActionLink("Змінити", "Edit", new { id = item.Id }, new { @class = "editer" }) </th>
            <th>@Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "delete" })</th>
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Повернутися до списку учнів", "Index", new { Controller = "Students", action = "Index"})
</div>
