@model dancing_studio.DAL.Teacher

@{
    ViewBag.Title = "Информація про викладача";
}

<h2>Информація про викладача</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутися до списку", "Index")
</p>
