@model IEnumerable<dancing_studio.DAL.Group>

@{
    ViewBag.Title = "Групи";
}

<h2>Групи</h2>

<p>
    @Html.ActionLink("Додати нову", "Create", null, new { @class = "adder" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            ПІБ викладача
        </th>
        <th>
            <th width="30"></th>
            <th width="30"></th>
            <th width="30"></th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
            <th>@Html.ActionLink("Змінити", "Edit", new { id = item.Id }, new { @class = "editer" })</th>
            <th>@Html.ActionLink("Детальніше", "Details", new { id = item.Id }, new { @class = "details" })</th>
            <th>@Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "delete" })</th>
            </td>
        </tr>
    }

</table>
